# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/plugins/
/luts
/### theboatConfigFolder
/fonts
*.pyc
/elements/*
*.job
/gizmos/
*.zip
/jobs/nuke_plugin_info1.job
/jobs/nuke_submit_info1.job
