# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/icons/
/jobs/
/.git/
*.pyc
/init.py
/menu.py
/scripts/deadline/simpleSgApi.py
/scripts/deadline/draft/slateBackground.dpx
/scripts/deadline/draft/slateBackground.mov
/scripts/deadline/draft/slateBackground.png
/scripts/__init__.py
/scripts/deadline/__init__.py
